services:
  # 1. API Gateway
  - type: web
    name: api-gateway
    env: node
    plan: free
    buildCommand: cd api-gateway && npm install
    startCommand: cd api-gateway && node index.js
    envVars:
      - key: PORT
        value: 10000
      - key: AUTH_SERVICE_URL
        fromService:
          type: web
          name: auth-service
          property: hostport
      - key: PAYMENT_SERVICE_URL
        fromService:
          type: web
          name: payment-service
          property: hostport
      - key: NOTIFICATION_SERVICE_URL
        fromService:
          type: web
          name: notification-service
          property: hostport

  # 2. Auth Service
  - type: web
    name: auth-service
    env: node
    plan: free
    buildCommand: cd auth-service && npm install
    startCommand: cd auth-service && node index.js
    envVars:
      - key: PORT
        value: 10000
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: backplane-db
          property: connectionString

  # 3. Payment Service
  - type: web
    name: payment-service
    env: node
    plan: free
    buildCommand: cd payment-service && npm install
    startCommand: cd payment-service && node index.js
    envVars:
      - key: PORT
        value: 10000
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: backplane-db
          property: connectionString

  # 4. Notification Service
  - type: web
    name: notification-service
    env: node
    plan: free
    buildCommand: cd notification-service && npm install
    startCommand: cd notification-service && node index.js
    envVars:
      - key: PORT
        value: 10000
      - key: SECRET_KEY
        generateValue: true

  # 5. Frontend (Nginx)
  - type: web
    name: frontend
    env: docker
    plan: free
    dockerContext: frontend
    dockerfilePath: frontend/Dockerfile
    envVars:
      - key: PORT
        value: 80
      - key: API_BASE_URL
        fromService:
          type: web
          name: api-gateway
          property: hostport
      - key: MANUAL_API_URL
        value: https://api-gateway-30qd.onrender.com

databases:
  - name: backplane-db
    plan: free
    databaseName: auth_db
    user: backplane_user
